<h1>Store Name:</h1>
<p>{{storeName}}</p>
<h1>Located At:</h1>
<p>{{address.street}}, {{address.city}}</p>
<p>{{address.state}}, {{address.zip}}</p>
<h1>Owner Info:</h1>
<p><b>First Name:</b> {{firstName}}</p>
<p><b>Last Name:</b> {{lastName}}</p>
<p><b>Email Address:</b> {{email}}</p>
<h1>Contact Numbers:</h1>
<p><b>Store Phone:</b> {{storePhone}}</p>
<p><b>Cell Phone:</b> {{cellPhone}}</p>
<p><b>Tax ID Number:</b> {{taxId}}</p>

